@keyframes logoAni{
    0%{
        transform: rotate(0);
    }
    45%{
        transform: rotate(10deg);
    }
    55%{
        transform: rotate(0);
    }
    65%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(0);
    }
}