#initial{
    width: 100%;
    min-height: 80vh;
    display: flex;
    position: relative;
    background: #f4f4f4;
}
#wd{
    color: var(--default);
}
.all-h{
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 800px;
    margin-top: 80px;
    height: fit-content;
    min-height: calc(100% - 200px);
    padding-bottom: 118px;
}

.info-txt{
    padding: 5px;
    width: 50%;
}
#info-img{
    padding: 5px;
    width: 40%;
    margin-left: 50px;
}
.txt-in{
    color: rgb(39, 39, 39);
}
.saiba{
    padding: 5px 15px;
    background: var(--default);
    margin-top: 20px;
    color: white;
    border-radius: 50px;
    display: block;
    width: fit-content;
}

#main{
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-main{
    text-align: center;
    color: gray;
    margin: 30px 0
}
.txt-main{
    width: calc(100% - 20px);
    text-align: center;
    color: gray;
    max-width: 500px;
    font-size: 20px;
}
#wd{
    transition: .5s;
}

@media only screen and (max-width: 600px){
    .all-h{
        flex-direction: column;
    }
    .info-txt{
        width: 100%;
    }
    #info-img{
        width: 50%;
    }
    .info-txt{
        text-align: center;
    }
    .saiba{
        margin: 20px auto;
    }
    .txt-in{
        max-width: 300px;
        margin: auto;
    }
}

.engrenagem{
    fill: #919191!important;
    animation: eng 3s ease-in-out infinite;
}

.engrenagem:nth-child(1){
    animation-delay: 1s;
}

.trg1{
    animation: eng 3s ease-in-out infinite;
}

.trg2, .ghp{
    animation: eng 3s 1s ease-in-out infinite;

}

.trg3{
    animation: eng 3s 0.5s ease-in-out infinite;

}

.ssm{
    animation: eng 3s .3s ease-in-out infinite;

}

.lht{
    animation: lht 3s ease-in-out infinite;

}

@keyframes eng{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes lht{
    0%{
        fill: #25CA87;
    }
    50%{
        fill: #71ffc5;
    }
    100%{
        fill: #25CA87;
    }
}