.info-s{
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 100px auto 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-s{
    text-align: center;
    color: gray;
    margin: 30px 0;
}
.txt-s{
    font-size: 18px;
    max-width: 600px;
    text-align: center;
}
.img-s{
    max-width: 300px;
    margin: auto;
}

.nuvem{
    animation: nuvem infinite ease-in-out;
}
.nuvem:nth-child(1){
    animation-duration: 10s;
}
.nuvem:nth-child(2){
    animation-duration: 9s;
}
.nuvem:nth-child(3){
    animation-duration: 8s;
}

.janela{
    animation: janela 20s ease-in-out infinite;
}

@keyframes nuvem{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes janela{
    0%{
        fill: black;
    }
    5%{
        fill: #eee;
    }

    70%{
        fill: white;
    }
    75%{
        fill: black;
    }
}